<!-- Header
============================================= -->
<header id="header">
	<div id="header-wrap" class="border-bottom-0">
		<div class="container">
			<div class="header-row">

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="comics.html">
						<img class="logo-default" src="images/logo-tji.png" alt="Tji Studio Logo" style="height: 40px;">
					</a>
				</div><!-- #logo end -->

				<div class="header-misc">

					<!-- Top Search
					============================================= -->
					<div id="top-search" class="header-misc-icon">
						<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
					</div><!-- #top-search end -->

				</div>

				<div class="primary-menu-trigger">
					<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
						<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
					</button>
				</div>

				<!-- Primary Navigation
				============================================= -->
				<nav class="primary-menu">

					<ul class="menu-container">
						<li class="menu-item"><a href="works.html" class="menu-link ls-0"><div>作品集</div></a>
							<ul class="sub-menu-container">
								<li class="menu-item"><a href="article.html" class="menu-link ls-0"><div>作品詳情</div></a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#" class="menu-link ls-0 button button-small button-dark text-transform-none ms-2" style="padding: 8px 16px;"><div>會員登入</div></a></li>
					</ul>

				</nav><!-- #primary-menu end -->

				<form class="top-search-form" action="search.html" method="get">
					<input type="text" name="q" class="form-control" value="" placeholder="輸入關鍵字搜尋.." autocomplete="off">
				</form>

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header><!-- #header end -->